{% extends 'base.html' %} {% load widget_tweaks %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Detalhes do Compromisso</h5>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-outline-danger btn-sm float-end" data-bs-toggle="modal" data-bs-target="#excluirModal"><i class="fa-solid fa-trash me-1"></i> Excluir</button>
                <a href="{% url 'app.agenda:editar_compromisso' object.pk %}" class="btn btn-outline-primary btn-sm float-end me-2"><i class="fa-solid fa-pen-to-square me-1"></i> Editar</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="mb-3">
                <label class="form-label">Nome do compromisso</label>
                <input class="form-control" type="text" value="{{ object.nome_compromisso }}" readonly>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">Data</label>
                <input class="form-control" type="date" value="{{ object.data|date:'Y-m-d' }}" readonly>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">Hora de início</label>
                <input class="form-control" type="time" value="{{ object.hora_inicio|time:'H:i' }}" readonly>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">Hora de término</label>
                <input class="form-control" type="time" value="{{ object.hora_termino|time:'H:i' }}" readonly>
            </div>
            <div class="mb-3 col-md-8">
                <label class="form-label">Local</label>
                <input class="form-control" type="text" value="{{ object.local }}" readonly>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">Status do compromisso</label>
                <input class="form-control" type="text" value="{{ object.get_status_compromisso_display }}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Observações</label>
                <textarea class="form-control" rows="5" readonly>{{ object.observacoes }}</textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="excluirModalLabel">Atenção!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Você tem certeza que deseja remover o compromisso: <b>{{ object.nome_compromisso }}</b>? A ação não pode ser revertida, caso decida continuar!</p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'app.agenda:excluir_compromisso' object.pk %}" method="post"> {% csrf_token %}
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark me-1"></i> Não</button>
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-circle-check me-1"></i> Sim</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}